<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Daily Journal</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="wrapper">
        <header class="header">
            <nav class="header__navbar navbar">
                <div class="navbar__container">
                    <h1 class="navbar__brand">DAILY JOURNAL</h1>

                    <ul class="navbar__menu">
                        <li class="navbar__item" id="home">
                            <a class="navbar__link" href="/">HOME</a>
                        </li>
                        <li class="navbar__item" id="about">
                            <a class="navbar__link" href="/about">ABOUT US</a>
                        </li>
                        <li class="navbar__item" id="contact">
                            <a class="navbar__link" href="/contact">CONTACT US</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
    
        <div class="container">
