/*
=============== 
Fonts
===============
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/*
=============== 
Null Style
===============
*/
@import 'nullStyle.scss';

/*
=============== 
Variables
===============
*/
:root {
    --clr-light-purple: #E4E9FD;
    --clr-purple: #A683E3;
    --clr-grey: grey;
    --clr-white: #fff;
    --ff-primary: 'Roboto', sans-serif;
    --transition: all 0.3s linear;
    --spacing: 0.25rem;
    --radius: 0.5rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    --max-width: 1170px;
    --fixed-width: 480px;
}

/*
=============== 
Global Styles
===============
*/

body {
    font-family: var(--ff-primary);
    background: linear-gradient(20deg, #A683E3 50%, #E4E9FD 50%);
    color: var(--clr-black);
}
h1,h2,h3,h4 {
  text-transform: capitalize;
  line-height: 1.25;
}
h1 {
  font-size: 2.7rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}

.wrapper {
    min-height: 100vh;
    overflow: hidden;
    transition: all 0.3s linear;
}

.container {
    width: 100%;
    max-width: var(--fixed-width);
    margin: 0 auto;
    padding: 4rem 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
}

.box {
    padding: 0.5rem;
    border-radius: var(--radius);
    box-shadow: var(--light-shadow);
}

input[type="checkbox"] {
    margin: 0 1rem 0 0;
    flex: 0 1 10%;
    &:checked+p{
        transition: var(--transition);
        text-decoration: line-through;
        text-decoration-color: var(--clr-purple);
    }
}

input[type="text"] {
    flex: 0 1 70%;
    transition: var(--transition);
    &:focus {
        box-shadow: inset 0 -2px 0 0 var(--clr-purple);
    }
    text-align: center;
    font: {
        family: var(--ff-primary);
        size: 1.5rem;
        weight: 300;
    }
}
::placeholder {
    color: var(--clr-grey);
    opacity: 1;
}


/*
=============== 
Main Styles
===============
*/
.heading {
    background-color: var(--clr-purple);
    width: 100%;
    text-align: center;
    &__title {
        font-weight: 700;
        color: var(--clr-white);
    }
}

.list {
    width: 100%;
    background-color: var(--clr-white);
    display: flex;
    flex-direction: column;
    align-items: center;

    & > * {
        min-height: 70px;
        width: 100%;
    }
    .item {
        display: flex;
        align-items: center;
        border-bottom: 1px solid var(--clr-light-purple);
        &__name {
            font: {
                size: 1.5rem;
                weight: 300;
            }
            flex: 0 1 90%;
        }
    }

    .form {
        display: flex;
        align-items: center;
        justify-content: space-around;
        &__btn {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: var(--clr-purple);
            color: var(--clr-white);
            font: {
                size: 1.5rem;
                weight: 700;
            }
            transition: var(--transition);
            &:hover {
                transform: scale(1.1);
            }
        }
    }
}


